.header.active {
    @apply fixed top-0;
}

.header {
    transition: top 1s cubic-bezier(.33, 1, .68, 1);
    @apply w-full z-[1000];
}

.header.active .bg-holder {
    @apply to-black/[0.02] from-black/[0.02] from-50% backdrop-blur-sm shadow-sm transition-all duration-75 !important;
}

.header.active .bg-holder .bottom-nav {
    @apply shadow-app;
}

.header.active .bg-holder .top-nav {
    @apply opacity-0 py-1 md:py-2 transition-all duration-500 !important;
}

.header.animate {
    animation: slideDown 1s cubic-bezier(.33, 1, .68, 1);
}

.circle:before {
    animation: ripple 2s linear infinite;
}

.circle:after {
    animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes slideDown {
    0% {
        top: -100px;
    }

    25% {
        top: -75px;
    }

    50% {
        top: -50px;
    }

    75% {
        top: -25px;
    }

    100% {
        top: 0;
    }
}