@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255, 1;
}

@layer utilities {
  .w-9\.5\/10 {
    @apply w-[95%] !important;
  }

  .clip-text {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
  }
}

html,
body {
  @apply bg-slate-50 text-black font-satoshi duration-500 transition-all scroll-smooth overflow-x-hidden !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app-container {
  @apply max-w-[96%] md:max-w-[70%] mx-auto !important;
}

.app-bs {
  box-shadow: 0px -6px 50px -6px rgba(0, 0, 0, 0.1) !important;
}

.footer-top,
.app-bg-cover {
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-image: url(/svg/bg.svg) !important;
}

.cover-png-3 {
  background-image: url(/image/cover-png-3.avif) !important;
}

.cover-png-2 {
  background-image: url(/image/cover-png-2.png) !important;
}

.text-gradient-1 {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #bafa04);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-gradient-2 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg, #749FEF 0%, #4452F2 100%);
}

.tri-shape {
  -webkit-animation-name: rotate360;
  animation-name: rotate360;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.round-shape {
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
}

.bounce {
  animation-duration: 3s !important;
}

.animated-shake {
  animation: shake 0.5s;
}

.ripple-btn span {
  content: "";
  transition: width 0.7s, padding-top 0.7s;
  background: #6c63ff !important;
  transform: translate(-50%, -50%);
}

.ripple-btn:hover span {
  width: calc(100% * 2.25) !important;
  padding-top: calc(100% * 2.25) !important;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-white border border-slate-100 hover:border-white text-center shadow-custom rounded-full text-sm w-12 h-12 p-6 z-50 hover:bg-[#fd3838] transition-all duration-500 text-black hover:text-white hover:transform hover:scale-110 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-sm !important;
}

.swiper-pagination-bullet {
  @apply rounded-xl w-3 h-3 bg-slate-300 opacity-90 transition-all duration-500 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-[#fd3838] w-8 opacity-100 shadow-custom transition-all duration-500 !important;
}

.swiper-margin {
  @apply opacity-100 z-30 mt-20 shadow-custom !important;
}

.swiper-margin.swiper-slide-active {
  @apply mt-0 z-50 !important;
}

.swiper-margin.swiper-slide-next {
  @apply mt-10 z-40 !important;
}

.swiper-margin.swiper-slide-prev {
  @apply mt-28 z-20 !important;
}

.team__swiper .swiper-wrapper {
  @apply my-6 py-2 !important;
}

.team__swiper .swiper-pagination {
  @apply -bottom-1.5 lg:hidden !important
}

.team__swiper .swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-royal-lilac !important
}

.inner-highlight {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: transform .85s, opacity .85s, height .45s, bottom .45s, color .45s;
  transition-timing-function: cubic-bezier(.3, .8, .35, 1);
  transition-delay: inherit;
  transform-origin: left center;
}

.inner-svg1 {
  opacity: 1;
  animation: penAnimation .85s cubic-bezier(.22, .61, .36, 1) forwards;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(100% - 20px);
  right: calc(100% - 25px);
  opacity: 1;
  fill: currentColor;
  display: block;
}

.inner-svg2 path {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path .85s cubic-bezier(.22, .61, .36, 1);
  transition-delay: inherit;
}

.team-card::before {
  @apply bg-teal-500;
  content: "";
  display: inline-block;
  height: 7px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 5px;
  -webkit-mask-image: linear-gradient(60deg, transparent 35%, #000 40%);
  mask-image: linear-gradient(60deg, transparent 35%, #000 40%);
}

.team-card::after {
  @apply bg-teal-500;
  content: "";
  display: inline-block;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 5px;
  -webkit-mask-image: linear-gradient(120deg, #000 35%, transparent 40%);
  mask-image: linear-gradient(120deg, #000 35%, transparent 40%);
}

@media (min-width: 576px) {
  .app-container {
    @apply max-w-[566px] px-1 !important;
  }
}

@media (min-width: 768px) {
  .app-container {
    @apply max-w-[758px] px-0 !important;
  }
}

@media (min-width: 992px) {
  .app-container {
    @apply max-w-[982px] !important;
  }
}

@media (min-width: 1220px) {
  .app-container {
    @apply max-w-[1170px] !important;
  }
}

@media (min-width: 1220px) and (max-width: 1500px) {
  .app-container {
    @apply max-w-[1170px] px-0 !important;
  }
}